@import "tailwindcss";

html, body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #eef7f6;
  --color-foreground: #181a1b;
  --color-card: #e3e8e8;
  --color-card-foreground: #1c3130;
  --color-popover: #f1f3f3;
  --color-popover-foreground: #0c1818;
  --color-primary: #448180;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #b7c8c8;
  --color-secondary-foreground: #000000;
  --color-muted: #d7dada;
  --color-muted-foreground: #557777;
  --color-accent: #d0d3d3;
  --color-accent-foreground: #1c3130;
  --color-destructive: #BF3F3F;
  --color-destructive-foreground: #f1f3f3;
  --color-border: #88aaaa;
  --color-input: #88aaaa;
  --color-ring: #448180;

  --color-dark-background: #14191b;
  --color-dark-foreground: #e4e7e7;
  --color-dark-card: #0f1a1a;
  --color-dark-card-foreground: #e4e7e7;
  --color-dark-popover: #060a0a;
  --color-dark-popover-foreground: #e4e7e7;
  --color-dark-primary: #365858;
  --color-dark-primary-foreground: #FFFFFF;
  --color-dark-secondary: #293d3d;
  --color-dark-secondary-foreground: #FFFFFF;
  --color-dark-muted: #394646;
  --color-dark-muted-foreground: #92a0a0;
  --color-dark-accent: #394646;
  --color-dark-accent-foreground: #e4e7e7;
  --color-dark-destructive: #BF3F3F;
  --color-dark-destructive-foreground: #e4e7e7;
  --color-dark-border: #5f8686;
  --color-dark-input: #5f8686;
  --color-dark-ring: #365858;
  --color-radius: 0.5rem;
  --color-dark-radius: 0.5rem;
}


.dark {
  --tw-bg-opacity: 1;
  color: var(--white);
}
